.cards {
  margin-top: 140px;
  font-family: "Source Code Pro", "Arial", "Helvetica";
  display: grid;
  grid-template-columns: 591px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

.cards__lines {
  width: 41px;
  height: 100%;
  display: grid;
  grid-template-columns: 41px;
  grid-template-rows: 20px auto 30px;
  
}

.card__lines-in {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1px);
  grid-template-rows: auto;
  gap: 4px;
}

.card__lines-line {
  box-sizing: border-box;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1px);
  grid-template-rows: auto;
  gap: 4px;
  
}

.card__lines-out {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px 0 0;
  display: grid;
  grid-template-columns: repeat(7, 1px);
  grid-template-rows: auto;
  gap: 4px;
}

.cards__cards-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  /* grid-template-columns: 41px 470px; */
  grid-template-columns: 41px 470px 80px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

.cards__line-G{
  display: none;
  width: 1px;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;

  background-color: var(--fuchsia);
}

.cards__line-F{
  display: none;
  width: 1px;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;

  background-color: var(--yellow);
}

.cards__line-E {
  display: none;
  width: 1px;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 100%;

  background-color: var(--blue);
}

.cards__line-D {
  display: none;
  width: 1px;
  grid-column-start: 4;
  grid-column-end: 5;
  height: 100%;

  background-color: var(--green);
}

.cards__line-C {
  display: none;
  width: 1px;
  grid-column-start: 5;
  grid-column-end: 6;
  height: 100%;
  background-color: var(--orange);
}

.cards__line-B {
  display: none;
  width: 1px;
  grid-column-start: 6;
  grid-column-end: 7;
  height: 100%;
  background-color: var(--turquoise);
}

.cards__line-A {
  display: none;
  width: 1px;
  grid-column-start: 7;
  grid-column-end: 8;
  height: 100%;
  background-color: var(--light-green);
}

.cards__angle-in-A {
  display: none;
  position: absolute;
  width: 11px;
  height: 20px;
  left: 30px;
}

.cards__angle-in-B {
  display: none;
  position: absolute;
  width: 16px;
  height: 20px;
  left: 25px;
}

.cards__angle-in-C {
  display: none;
  position: absolute;
  width: 21px;
  height: 20px;
  left: 20px;
}

.cards__angle-in-D {
  display: none;
  position: absolute;
  width: 26px;
  height: 20px;
  left: 15px;
}

.cards__angle-in-E {
  display: none;
  position: absolute;
  width: 31px;
  height: 20px;
  left: 10px;
}

.cards__angle-out-A {
  display: none;
  position: absolute;
  width: 11px;
  height: 30px;
  left: 30px;
}

.cards__angle-out-B {
  display: none;
  position: absolute;
  width: 16px;
  height: 30px;
  left: 25px;
}

.cards__angle-out-C {
  display: none;
  position: absolute;
  width: 21px;
  height: 30px;
  left: 20px;
}


.cards__angle-out-D {
  display: none;
  position: absolute;
  width: 26px;
  height: 30px;
  left: 15px;
}

.cards__angle-out-E {
  display: none;
  position: absolute;
  width: 31px;
  height: 30px;
  left: 10px;
}

.card_line_visible {
  display: inline;
}

.card__date {
  width: 80px;
  box-sizing: border-box;
  padding-left: 30px;
  display: flex;
}

.card__date_start {
  align-self: start;
  padding-top: 3px;
  border-top: 1px solid var(--gray);
}

.card__date_finish {
  align-self: end;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--gray);
}

.card__date_single {
  align-self: center;
  padding: 10px 0 10px 0;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.card__date-title {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  color: var(--red);
  margin: 0;
}
