.cards {
  margin-top: 140px;
  font-family: "Source Code Pro", "Arial", "Helvetica";
  display: grid;
  grid-template-columns: 581px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  background-color: var(--light-gray);
}

.cards__lines {
  width: 41px;
  height: 100%;
  display: grid;
  grid-template-columns: 41px;
  grid-template-rows: 20px auto 30px;
  background-color: teal;
}

.card__lines-in {
}

.card__lines-line {
  
}

.card__lines-out {
}

.cross {

}

.cards__cards-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  /* grid-template-columns: 41px 470px; */
  grid-template-columns: 41px 470px 70px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

.cards__svg-item {
  width: 58px;
  height: 100%;
  border: 1px black solid;
  background-color: tomato;
}

.card__date {
  width: 70px;
  background-color: tomato;
}