.cards {
  margin-top: 140px;
  font-family: "Source Code Pro", "Arial", "Helvetica";
  display: grid;
  grid-template-columns: 530px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  /* background-color: var(--light-gray); */
}

.cards__svg {

}

.cards__cards-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 60px 470px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

.cards__svg-item {
  width: 58px;
  height: 100%;
  border: 1px black solid;
  background-color: tomato;
}
